$font-main: ubunturegular, sans-serif;
$medium: ubuntumedium, sans-serif;
$light: ubuntulight, sans-serif;
$width: 1160px;
$menu-background: #2a2d32;
$menu-link-color: #fff;
$menu-link-hover-color: #f4b60d;
$menu-height: 55px;
$search-field-color: #35383c;
$icon-size: 17px;
$logo-font-size1: 30px;
$logo-font-size2: 12px;
$top-margin: 45px;
$header-bottom: 37px;
$icon-left-margin: 15px;
$icons-top: 10px;
$input-text-height: 38px;
$input-text-border: 1px solid #000;
$input-text-width: 238px;
$placeholder-color: #000;
$placeholder-padding: 0 0 0 15px;
$letter-spacing: 3px;
$wrapper-margin: 0 auto;
$input-text-margin: 8px;
$home-backcolor: #248cec;
$menu-item-color: #fff;
$menu-hover: #9e7923;
$menu-border: 1px solid #000;
$slider-margin: 40px 0 70px 0;
$section-width: 350px;
$number-width: 80px;
$content-width: 240px;
$number-size: 90px;
$number-color: #efeff0;
$content-padding: 50px 0 0 25px;
$section-title-size: 20px;
$arial: Arial, sans-serif;
$section-text-size: 13px;
$section-text-color: #8a8a8a;
$services-backcolor: #2a2d32;
$news-title-size: 24px;
$sect-text: #c2c2c2;
$section-padding:  65px 0 80px 0;
$sect-back: #f7f7f7;
$bottom-padding: 65px 0 85px 0;
$bottom-title-mar: 0 0 45px 0;
$bottom-linkcolor: #545659;
$bottom-border: 1px solid #393c40;
$footer-backcolor: #35383c;
$footer-padding: 25px 0;
$footer-icopad: 0 0 0 25px;
$banner-text-pad: 25px 0 40px 40px;
$active: #f4b60d;
$border-right: 1px solid #e8e8e8;
$border-inactive: 1px solid #e8e8e8;
$border-right-act: 1px solid #f6c53d;
