.photo,
h1 {
    text-align: center;
}
li {
    list-style-type: circle;
    margin: 15px;
}
h1 {
    font-size: 30px;
}
body{
    background-color: lightgray;
}
.main {
    padding: 10px 30px 20px;
    margin: 0 auto;
    background-color: white;
    width: 400px;
}
.box p {
    font-weight: normal;
}
p,
h4 {
    font-weight: bold;
    font-style: normal;
    line-height: 30px;
    padding-left: 20px;
  }
p {
    margin-top: 8px;
}
h4 {
    margin-bottom: 10px;
}
.line {
    border-bottom: solid 1px black;
}