.photo, h1 {
    text-align: center;
}

body{
    background-color: lightgray;
}
.main {
    padding: 10px 30px 20px;
    margin: 0 auto;
    background-color: white;
    width: 400px;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
}
p {
    padding-left: 20px;
}