$desktop-width: 940px;
$tablet-width: 768px;
$mobile-width: 320px;
$font-main: robotobold_italic, sans-serif;
$font-size: 55px;
$montserratbold: montserratbold, Arial, sans-serif;
$montserrat: montserratregular, Arial, sans-serif;
$roboto: robotoregular, Arial, sans-serif;
$font-header-size: 20px;
$font-header-login-size: 14px;
$font-header-title-size: 52px;
$robotolight: robotolight, Arial, sans-serif;
$font-header-text-size: 24px;
$small-size: 14px;
$automargin: 0 auto;
$header-background:  url("../img/header_background.jpg") no-repeat top center #FFF;
$header-text-color: #FFF;
$header-link-background: #FF4E50;
$login-link-width: 84px;
$login-link-height: 35px;
$login-up-border: 2px solid #FFF;
$login-up-border-radius: 20px;
$login-border-inactive: 2px solid transparent;
$header-link-width: 225px;
$header-link-margin: 40px auto;
$login-hover-color: #AF978C;
$header-title-margin: 155px 0 0 0;
$header-text-margin: 45px 0 40px 0;
$header-link-bottom-margin: 0 0 230px 0;
$font-slider-title-size: 22px;
$section-margin: 100px 0 0 0;
$slider-title-margin: 0 0 35px 0;
$text-color: #333;
$partner-width: 225px;
$info-margin: 20px 0;
$ico-size: 40px;
$ico-top: 80px;
$ico-left: 144px;
$border-partners-link: 2px solid #FF4E50;
$partners-link-width: 190px;
$partners-link-text-hover: #FFF;
$section-text-size: 18px;
$margin-pic: 100px 0 70px 0;
$picture-padding: 0 0 100px 0;
$footer-top-border: 4px solid #FF4E50;
$slider-text-color: #CCC;