.photo, h1 {
    text-align: center;
}

body{
    background-color: lightgray;
}
.main {
    padding: 10px 30px 20px;
    margin: 0 auto;
    background-color: white;
    width: 400px;
}
p {
    line-height: 30px;
    padding-left: 20px;
}
.line {
    border-bottom: solid 1px black
}