@font-face {
    font-family: 'lucida_sans_unicoderegular';
    src: url('../fonts/lucida_sans_unicode_regular-webfont.eot');
    src: url('../fonts/lucida_sans_unicode_regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/lucida_sans_unicode_regular-webfont.woff2') format('woff2'),
    url('../fonts/lucida_sans_unicode_regular-webfont.woff') format('woff'),
    url('../fonts/lucida_sans_unicode_regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    margin:0 auto;
    width: 910px;
    font-family: Arial, sans-serif;
}
.clearfix:after {
    content: " ";
    clear: both;
    display: block;
    font-size: 0;
}
}
.window {
     width: 100%;
}
header.top {
    margin: 23px 5px 8px;

}
.login {
    position: relative;
    top:-6px;
    float:left;
    font-size:10px;
    display: inline-block;
    width: 492px;
    background-color: #1b5288;
    border-radius: 5px;
    height: 28px;
    font-family: "lucida_sans_unicoderegular", Arial, sans-serif;
    -webkit-box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.75);
}
header.top input[type='text'],
header.top input[type='password'] {
    position: relative;
    padding-left:4px;
    top:-5px;
    height:12px;
    width: 109px;
    margin-bottom: 5px;
    font-size: 12px;
}
header.top input[type='submit']{
    position: relative;
    top:-5px;
    display:inline-block;
    color:#ffffff;
    font-size:10px;
    padding:0 0;
    text-decoration:none;
    border: 0;
    background-color: #1b5288;
}
.register {
    position: relative;
    top:-5px;
    border-left: 1px solid white;
    color:#ffffff;
    font-size: 9px;;
    padding-left: 5px;
    text-decoration: none;
}
.login img {
    padding: 5px 0 0 5px;
}
.login a:last-child{
    position: relative;
    top:-5px;
    left: 29px;
    display:inline-block;
    color:gray;
    font-size:11px;
    text-decoration:underline;
}
.phone img,
.phone p{
    display: inline-block;
    float:left;
}
.phone {
    float:left;
    display: inline-block;
    width: 309px;
}
.phone p {
    font-size:18px;
    color: #878e91;
    letter-spacing: 0.35px;
    margin-left: 4px;

}
.ico {
    float:left;
    position:relative;
    top:-5px;
    height: 20px;
    border: 1px solid gray;
    border-radius: 9px;
    margin-left: 20px;
    width: 75px;
    text-align: center;
}
.ico a:first-child img {
    position: relative;
    left: -6px;
}
.ico a:nth-child(2) img {
    position: relative;
    left:-3px;
}
.zazor {
    margin: -4px 0 0 -2px;
}
/*menushka pod kartinkou*/
.menu {
    height: 35px;
    margin-bottom: 12px;
    border: 1px solid #2c345a;
    border-radius: 5px;
    width: 906px;
    background-color:#505860;
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#505860, endColorstr=#010101);
    background-image:-moz-linear-gradient(top, #505860 0%, #010101 100%);
    background-image:-webkit-linear-gradient(top, #505860 0%, #010101 100%);
    background-image:-ms-linear-gradient(top, #505860 0%, #010101 100%);
    background-image:linear-gradient(top, #505860 0%, #010101 100%);
    background-image:-o-linear-gradient(top, #505860 0%, #010101 100%);
    background-image:-webkit-gradient(linear, right top, right bottom, color-stop(0%,#505860), color-stop(100%,#010101));
}
.menu ul {
    margin-left: 123px;
}
.menu ul li{
    display: inline-block;
    font-size: 14px;
}
.menu ul li a {
    color: #b1bcc0;
    display: block;
    text-decoration: none;
    line-height: 25px;
    padding: 0 16px 0 20px;
    margin-top: 4px;
}
.menu ul li:hover a {
    background-color: #124569;
    color: #FFF;
    border-radius: 10px ;
}
.korzina p:before {
content: url("../img/korzina-ico.png");
 }
.korzina {
    color: #b1bcc0;
}
.korzina p span{
    color: #104c78;
}
/**/
/*forms*/
.avto,
.tire,
.disc {
    border: 1px solid gray;
    border-radius: 5px;
    display: inline-block;
    float:left;
}
.avto {
    width:412px;
}
.tire {
    width:190px;
}
.disc {
    width:264px;
}
/**/
/*Katalog*/
.content {
    margin-top: 13px;
    overflow: hidden;
}
figure {
    width: 138px;
    background-color: #FFF;
    border-radius: 10px;
    border: 1px solid #aeb7ba;
}
.leftColumn {
    width: 185px;
    float: left;
    padding-bottom: 20000px;
    margin-bottom: -20000px;
}
.centerColumn {
    background-color:#E3E6E7;
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#E3E6E7, endColorstr=#93a7b0);
    background-image: -ms-linear-gradient(top, #E3E6E7 0%, #93a7b0 100%);
    background-image: -moz-linear-gradient(top, #E3E6E7 0%, #93a7b0 100%);
    background-image: -o-linear-gradient(top, #E3E6E7 0%, #93a7b0 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #E3E6E7), color-stop(100, #93a7b0));
    background-image: -webkit-linear-gradient(top, #E3E6E7 0%, #93a7b0 100%);
    background-image: linear-gradient(to bottom, #E3E6E7 0%, #93a7b0 100%);
    width: 526px;
    float: left;
    border-radius: 3px ;
    padding-bottom: 20000px;
    margin-bottom: -20000px;
    text-align: center;
}
.line:first-child {
    margin-top: 14px;
}
.line a:first-child {
    margin-left: 20px;
}
.line a {
    margin-right: 25px;
}
.line:last-child {
    padding-bottom: 32px;
}
.line h4 {
    color: #206988;
    font-weight: bold;
}
.line  p {
    color: #000;
}
.line p:last-child {
    margin-top: 6px;
    color: #114165;
    font-weight: bold;
}
.line a {
    text-decoration: none;
}
.brand h4:first-child,
.leftColumn h4{
    width: 180px;
}
.brand h4:first-child:before,
.leftColumn h4:before  {
    content: url("../img/katalog-ico.png");
    position: relative;
    top: 4px;
}
.brand h4:before,
.category:before {
    content: url("../img/round-ico.png");
}
.category,
.leftColumn h4,
.brand h4{
    position:relative;
    border: 1px solid #79878d;
    border-radius: 10px;
    font-size: 14px;
    color: #4a6680;
}
.category {
    width: 147px;
}
.rightColumn h4:nth-child(n+2) {
    width: 134px;
}
.rightColumn {
    width: 188px;
    float: left;
    padding-bottom: 20000px;
    margin-bottom: -20000px;
}
.tovar-check {
    display: block;
    height: 22px;
}
.tovar {
    display: inline-block;
}
.spisok li a:before{
    position: relative;
    top:-2px;
    right: 3px;
    content: url("../img/disc.png");
}
.spisok li a {
    height: 22px;
    padding-left: 15px;
    text-decoration: none;
    display: block;
    font-size: 12px;
    color: #455961;
}

.spisok li a:hover:before {
    content: url("../img/disc-hover.png");
}
.spisok li a:hover {
    font-weight: bold;
    font-style: italic ;
    text-decoration: underline;
    color: #0c3256;
}
.spisok li{
    padding-left: 20px;
    line-height: 22px;
}
/**/
/*footer*/
footer {
    margin-top: 30px;
    text-align: center;
}
.bottom {
    background: #1b5288;
    margin-top: 15px;
    height: 100px;
}
.bottom ul {
    padding-top: 10px;
}
.bottom ul li {
    display:inline-block;
    padding:0 10px;
}
.bottom ul li:nth-child(n+2) {
    border-left: 1px solid #FFF;
}
.bottom ul li a {
    color: #FFF;
    text-decoration: none;
}
.bottom ul li a:hover {
    color: #3b7790;
}
.copyright {
    margin-top: 19px;
    color: #7f4740;
    font-size: 12px;
}