body {
    width: 1000px;
    font-family: Arial, sans-serif;
}
.window {
    margin: 0 auto;
    width: 910px;
}
header {
    display: inline-block;
    height: 24px;
    margin-top: 18px;
}
header form {
    display: inline-block;
}
.phone {
    display: inline-block;
    position: relative;
}
.phone img {
    margin-left:5px;
}
.phone p {
    background-color: green;
    width: 264px;
    position: relative;
    top: -3px;
    left: 30px;
    font-size:18px;
    color: #878e91;
}