@font-face {
    font-family: 'league_gothicregular';
    src: url('../fonts/league_gothic-webfont.eot');
    src: url('../fonts/league_gothic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/league_gothic-webfont.woff2') format('woff2'),
    url('../fonts/league_gothic-webfont.woff') format('woff'),
    url('../fonts/league_gothic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
    url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/OpenSans-Light-webfont.eot');
    src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
    url('../fonts/OpenSans-Light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansextrabold';
    src: url('../fonts/OpenSans-ExtraBold-webfont.eot');
    src: url('../fonts/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-ExtraBold-webfont.woff') format('woff'),
    url('../fonts/OpenSans-ExtraBold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.clearfix:after {
    content: ' ';
    clear: both;
    display: block;
    font-size: 0;
}
@media (min-width: 960px)  {
    .superheader {
        background: url("../img/background.jpg") no-repeat top center #FFF;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        padding: 67px 0 1px 0;
    }
    .transparent {
        background-color: rgba(0,0,0, 0.3);
    }
    .wrapper {
        width: 960px;
    }
    .dropdown-menu,
    .brands320 {
        display: none;
    }
    .testimonial__link768 {
        display: none;
    }
    /*topmenu*/
    .header__logo {
        float:left;
        color: #FFF;
        font-size: 48px;
        text-shadow: 0 1px 2px rgba(35, 35, 35, 1);
    }
    .header__logo__color {
        color: #523a5d;
    }
    .menu {
        float:right;
        margin: 8px 0 0 0;
    }
    .menu__item {
        display: inline-block;
        margin:0 0 0 39px;
    }
    .menu__link {
        display: block;
        color: #FFF;
        text-shadow: 0 1px 2px rgba(35, 35, 35, 1);
        text-decoration: none;
        font-size: 24px;
        padding: 0 5px 4px 5px;
    }
    .menu__link:hover {
        border-bottom: 2px solid #edbfff;
    }
    /*slider*/
    .slider {
        margin: 139px 0 170px 0;
        height: 400px;
        padding:0 0 50px 0;
    }
    .slider__text {
        float:left;
        margin: 102px 0 0 0;
        width: 460px;
        color: #fff;
        text-shadow: 0 1px 2px rgba(35, 35, 35, 1);
    }
    .slider__title {
        color: #FFF;
        display: block;
        font-size: 60px;
        font-family: 'league_gothicregular', Arial, sans-serif;
    }
    .slider__title2 {
        display: block;
        color: #be9acc;
        font-size: 32px;
        font-family: 'league_gothicregular', Arial, sans-serif;
        margin: 0 0 6px 0;
    }
    .slider__maintext {
        font-family: 'open_sanslight', Arial, sans-serif;
        font-size: 19px;
        line-height: 21px;
        margin: 9px 0 0 0;
    }
    .slider__item {
        float:right;
        margin: 9px 72px 0 0;
    }
    /*about*/
    .about {
        color: #fff;
        padding: 80px 0 67px 0;
    }
    .about__item {
        float: left;
        width: 271px;
    }
    .about__item:before {
        content: " ";
        position: absolute;
        overflow: hidden;
        width: 27px;
        height: 29px;
    }
    .about__item:first-child:before {
        background: url("../img/sprite.png") 0 0 no-repeat;
    }
    .about__item:nth-child(2):before {
        background: url("../img/sprite.png") -28px 0 no-repeat;
    }
    .about__item:nth-child(3):before {
        background: url("../img/sprite.png") -56px 0 no-repeat;
    }
    .about__item:first-child {
        margin: 0 69px 0 16px;
    }
    .about__item:last-child {
        margin: 0 0 0 62px;
    }
    .about__title {
        font-size: 30px;
        padding: 0 0 0 45px;
        text-shadow: 0 0 3px rgba(255,255,255,0.5);
    }
    .about__text {
        margin: 8px 0 0 0;
        font-family: 'open_sanslight', Arial, sans-serif;
        font-size: 16px;
        line-height: 23px;
        padding: 0 0 0 45px;
    }
    .about__link {
        text-decoration: none;
        color: #fff;
        float: right;
        font-size: 18px;
        margin: 24px 5px 0 0;
    }
    .about__link:hover {
        text-shadow: 0 0 3px rgba(255,255,255,0.5);
    ;
    }
    /*testimonial*/
    .testimonial {
        padding: 90px 0 65px 0;
        background: #F9F9F9;
    }
    .testimonial__item:first-child:after {
        content: url("../img/snos.png");
        position: absolute;
        right: 0;
        bottom: -24px;
    }
    .testimonial__item:first-child {
        float: left;
        width: 390px;
        background: #FFF;
        margin: 0 0 0 40px;
        position: relative;
    }
    .testimonial__item:first-child > .testimonial__title,
    .testimonial__item:first-child > .testimonial__text {
        padding: 0 0 0 30px;
    }
    .testimonial__item:last-child {
        float: right;
        width: 450px;
    }
    .testimonial__title {
        font-size: 30px;
        margin:0 0 16px 0;
    }
    .testimonial__item:first-child > .testimonial__title {
        margin: 0 0 10px 0;
    }
    .testimonial__color {
        color: #edbfff;
    }
    .testimonial__text {
        font-family: 'open_sansregular', Arial, sans-serif;
        font-size: 16px;
        line-height: 21px;
    }
    .testimonial__update {
        padding: 3px 0 0 0;
        margin: 0 0 24px 0;
    }
    .testimonial__sprite {
        width: 49px;
        height: 49px;
        display: inline-block;
        vertical-align: middle;
    }
    .testimonial__item:first-child >.testimonial__sprite {
        top: 13px;
        left: -28px;
        position: absolute;
    }
    .testimonial__update__title {
        font-family: 'open_sansextrabold', Arial, sans-serif;
        font-size: 16px;
    }
    .testimonial__update__text {
        font-family: 'open_sanslight', Arial, sans-serif;
        font-size: 16px;
        margin: 10px 0 0 0;
    }
    .testimonial__link {
        text-decoration: none;
        color: #000;
        float: right;
        font-size: 18px;
        margin: 3px 22px 0 0;
    }
    .testimonial__link:hover {
        text-shadow: 0 0 3px rgba(0,0,0,0.5);
    }
    /*brands*/
    .brands {
        padding: 35px 0;
        text-align: center;
    }

    /*news*/
    .news {
        background: #ececec;
        padding: 90px 0;
    }
    .news__item {
        float: left;
        width: 284px;
    }
    .news__item:nth-child(2) {
        margin:0 56px 0 52px;
    }
    .news__title {
        font-size: 30px;
        margin: 0 0 15px 0;
    }
    .news__item:first-child > .news__title {
        font-size: 48px;
    }
    .news__color {
        color: #b9b9b9;
    }
    .news__copyright {
        color: #424c43;
        display: block;
        font-size: 16px;
        font-family: 'open_sanslight', Arial, sans-serif;
    }
    .news__text {
        font-size: 16px;
        font-family: 'open_sanslight', Arial, sans-serif;
        line-height: 23px;
    }
    /*footer*/
    .bottom {
        padding: 32px 0 46px 0;
        background: url("../img/bottom.jpg");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .bottommenu {
        float: left;
        margin: 11px 0 0 0;
    }
    .bottommenu__item {
        display: inline-block;
    }
    .bottommenu__link {
        display: block;
        color: #FFF;
        text-shadow: 0 1px 2px rgba(35, 35, 35, 1);
        text-decoration: none;
        font-size: 21px;
        margin: 0 38px 0 0;
    }
    .bottommenu__link:hover {
        text-decoration: underline;
    }
    .designed {
        float: right;
        color: #FFF;
        text-shadow: 0 1px 2px rgba(35, 35, 35, 1);
        font-size: 12px;
        font-family: 'open_sanslight', Arial, sans-serif;
        margin: 18px 0 0 0;
    }
    .designed__color {
        font-family: 'open_sansextrabold', Arial, sans-serif;
    }
}
@media (min-width: 768px) and (max-width: 959px) {
    .hide {
        display: none;
    }
    .transparent {
        background-color: rgba(0,0,0, 0.3);
    }
    .dropdown-menu,
    .testimonial__hide {
        display: none;
    }
    .testimonial__link {
        display: none;
    }
    .wrapper {
        width: 768px;
    }
    /*topmenu*/
    .superheader {
        background: url("../img/background.jpg") no-repeat top center #FFF;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        padding: 67px 0 1px 0;
    }
    .header__logo {
        float:left;
        color: #FFF;
        font-size: 48px;
        margin:0 0 0 17px;
        text-shadow: 0 1px 2px rgba(35, 35, 35, 1);
    }
    .header__logo__color {
        color: #523a5d;
    }
    .menu {
        float:left;
        margin: 28px 0 0 13px;
    }
    .menu__item {
        display: inline-block;
        margin:0 38px 0 0;
    }
    .menu__link {
        display: block;
        color: #FFF;
        text-shadow: 0 1px 2px rgba(35, 35, 35, 1);
        text-decoration: none;
        font-size: 24px;
        padding: 0 5px 4px 5px;
        border-bottom: 2px solid transparent;
    }
    .menu__link:hover {
        border-bottom: 2px solid #edbfff;
    }
    /*slider*/
    .slider {
        margin: 69px 0 122px 40px;
        height: 400px;
        padding:0 0 50px 0;
    }
    .slider__text {
        float:left;
        margin: 102px 0 0 0;
        width: 382px;
        color: #fff;
        text-shadow: 0 1px 2px rgba(35, 35, 35, 1);
    }
    .slider__title {
        color: #FFF;
        display: block;
        font-size: 48px;
        font-family: 'league_gothicregular', Arial, sans-serif;
    }
    .slider__title2 {
        display: block;
        color: #be9acc;
        font-size: 24px;
        font-family: 'league_gothicregular', Arial, sans-serif;
        margin: 9px 0 6px 0;
    }
    .slider__maintext {
        font-family: 'open_sanslight', Arial, sans-serif;
        font-size: 16px;
        width: 300px;
        line-height: 27px;
        margin: 10px 0 0 0;
    }
    .slider__item {
        float:left;
        margin: -17px 0 0 23px;
    }
    /*about*/
    .about {
        color: #fff;
        padding: 75px 0;
    }
    .about__item {
        float: left;
        width: 201px;
    }
    .about__item:before {
        content: " ";
        position: absolute;
        overflow: hidden;
        width: 27px;
        height: 29px;
    }
    .about__item:first-child:before {
        background: url("../img/sprite.png") 0 0 no-repeat;
    }
    .about__item:nth-child(2):before {
        background: url("../img/sprite.png") -28px 0 no-repeat;
    }
    .about__item:nth-child(3):before {
        background: url("../img/sprite.png") -56px 0 no-repeat;
    }
    .about__item:first-child {
        margin: 0 52px 0 34px;
    }
    .about__item:last-child {
        margin: 0 0 0 61px;
    }
    .about__title {
        font-size: 24px;
        padding: 0 0 0 45px;
        text-shadow: 0 0 3px rgba(255,255,255,0.5);
    }
    .about__text {
        margin: 6px 0 0 0;
        font-family: 'open_sanslight', Arial, sans-serif;
        font-size: 16px;
        line-height: 23px;
        padding: 0 0 0 45px;
    }
    .about__link {
        text-decoration: none;
        color: #fff;
        float: right;
        font-size: 18px;
        margin: 10px 8px 0 0;
    }
    .about__link:hover {
        text-shadow: 0 0 3px rgba(255,255,255,0.5);
    ;
    }
    /*testimonial*/
    .testimonial {
        padding: 100px 0;
        background: #F9F9F9;
    }
    .testimonial__item:first-child {
        float: left;
        width: 335px;
        background: #FFF;
        margin: 0 0 0 40px;
        position: relative;
    }
    .testimonial__item:first-child:after {
        content: url("../img/snos.png");
        position: absolute;
        top: 270px;
        left: 233px;
    }
    .testimonial__item:first-child > .testimonial__title,
    .testimonial__item:first-child > .testimonial__text {
        padding: 20px 20px 0 30px;
    }
    .testimonial__item:last-child > .testimonial__title {
        font-size: 30px;
        padding: 20px 0 0 0;
    }
    .testimonial__item:last-child {
        float: left;
        width: 335px;
        margin: 0 20px 0 30px;
    }
    .testimonial__title {
        font-size: 24px;
        margin:0 0 16px 0;
    }
    .testimonial__item:first-child > .testimonial__title {
        margin: 0 0 10px 0;
    }
    .testimonial__color {
        display: block;
        color: #edbfff;
    }
    .testimonial__text {
        font-family: 'open_sansregular', Arial, sans-serif;
        font-size: 16px;
        line-height: 21px;
    }
    .testimonial__update {
        padding: 3px 0 0 0;
        margin: 0 0 26px 0;
    }
    .testimonial__sprite {
        position: absolute;
        width: 49px;
        height: 49px;
    }
    .testimonial__item:first-child >.testimonial__sprite {
        top: 17px;
        left: -24px;
    }
    .testimonial__update__title {
        font-family: 'open_sansextrabold', Arial, sans-serif;
        font-size: 16px;
        margin: 0 0 0 67px;
    }
    .testimonial__update__text {
        font-family: 'open_sanslight', Arial, sans-serif;
        font-size: 16px;
        margin: 7px 0 0 67px;
    }
    .testimonial__link768 {
        text-decoration: none;
        color: #000;
        float: right;
        font-size: 20px;
        margin: -1px -5px 0 0;
    }
    .testimonial__link:hover {
        text-shadow: 0 0 3px rgba(0,0,0,0.5);
    }
    /*brands*/
    .brands {
        padding: 30px 0;
        text-align: center;
    }
    /*news*/
    .news {
        padding: 80px 0 40px 16px;
        background: #ececec;
    }
    .news__item {
        float: left;
        max-width: 220px;
        margin: 0 30px 0 0;
    }
    .news__title {
        font-size: 26px;
        margin: 0 0 7px 0;
    }
    .news__copyright {
        color: #424c43;
        display: block;
        font-size: 16px;
        font-family: 'open_sanslight', Arial, sans-serif;
    }
    .news__text {
        font-size: 16px;
        font-family: 'open_sanslight', Arial, sans-serif;
        line-height: 23px;
    }
    /*footer*/
    .bottom {
        padding: 32px 0 87px 0;
        background: url("../img/bottom768.jpg");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .bottommenu {
        float: left;
        margin: 14px 0 0 16px;
    }
    .bottommenu__item {
        display: inline-block;
    }
    .bottommenu__link {
        display: block;
        color: #FFF;
        text-shadow: 0 1px 2px rgba(35, 35, 35, 1);
        text-decoration: none;
        font-size: 21px;
        margin: 0 38px 0 0;
    }
    .bottommenu__link:hover {
        text-decoration: underline;
    }
    .designed {
        float: right;
        color: #FFF;
        text-shadow: 0 1px 2px rgba(35, 35, 35, 1);
        font-size: 12px;
        font-family: 'open_sanslight', Arial, sans-serif;
        margin: 70px 23px 0 0;
    }
    .designed__color {
        font-family: 'open_sansextrabold', Arial, sans-serif;
    }
}
@media (min-width: 480px) and (max-width: 767px) {
    .wrapper {
        width: auto;
        max-width: 480px;
        padding: 0 10px;
    }
    .transparent {
        background-color: rgba(0,0,0, 0.3);
    }
    .hide {
        display: none;
    }
    .slider__maintext,
    .menu,
    .testimonial__link,
    .brands320 {
        display: none;
    }
    /*topmenu*/
    .superheader {
        background: url("../img/background.jpg") no-repeat top center #FFF;
        padding: 67px 0 1px 0;
    }
    .header {
        text-align: center;
    }
    .header__logo {
        color: #FFF;
        font-size: 48px;
        text-shadow: 0 1px 2px rgba(35, 35, 35, 1);
        text-align: center;
    }
    .transparent {
        margin: 32px 0;
    }
    .header__logo__color {
        color: #523a5d;
    }
    /*slider*/
    .slider {
        padding: 67px 0 0 46px;
        margin: 0 0 70px 0;
    }
    .slider__text {
        float: left;
        margin: 102px 0 0 0;
        width: 217px;
        color: #fff;
        text-shadow: 0 1px 2px rgba(35, 35, 35, 1);
    }
    .slider__title {
        color: #FFF;
        display: block;
        font-size: 36px;
        font-family: 'league_gothicregular', Arial, sans-serif;
    }
    .slider__title2 {
        display: block;
        color: #be9acc;
        font-size: 18px;
        font-family: 'league_gothicregular', Arial, sans-serif;
        margin: 4px 0 6px 0;
    }
    .slider__item {
        padding: 18px 0 0 0;
    }
    .slider__image {
        height: 250px;
    }
    /*about*/
    .about {
        color: #fff;
        padding: 75px 0 50px 0;
    }
    .about__item {
        margin:0 0 59px 30px;
    }
    .about__item:before {
        content: " ";
        position: absolute;
        overflow: hidden;
        width: 27px;
        height: 29px;
    }
    .about__item:first-child:before {
        background: url("../img/sprite.png") 0 0 no-repeat;
    }
    .about__item:nth-child(2):before {
        background: url("../img/sprite.png") -28px 0 no-repeat;
    }
    .about__item:nth-child(3):before {
        background: url("../img/sprite.png") -56px 0 no-repeat;
    }
    .about__title {
        font-size: 24px;
        padding: 0 0 0 56px;
        text-shadow: 0 0 3px rgba(255,255,255,0.5);
    }
    .about__text {
        margin: 6px 0 0 0;
        font-family: 'open_sanslight', Arial, sans-serif;
        font-size: 16px;
        line-height: 23px;
        padding: 0 7px 0 56px;
    }
    .about__link {
        text-decoration: none;
        color: #fff;
        float: right;
        font-size: 18px;
        margin: 16px 26px 0 0;
    }
    .about__link:hover {
        text-shadow: 0 0 3px rgba(255,255,255,0.5);
    }
    /*testimonial*/
    .testimonial {
        padding: 90px 0 65px 18px;
        background: #F9F9F9;
    }
    .testimonial__item:first-child {
        background: #FFF;
        padding: 20px;
        position: relative;
    }
    .testimonial__item:first-child:after {
        content: url("../img/snos.png");
        position: absolute;
        right: 45px;
        top: 337px;
    }

    .testimonial__item:last-child > .testimonial__title {
        font-size: 30px;
        text-align: left;
        padding: 0 0 0 70px;
    }

    .testimonial__item:last-child {
        width: auto;
        margin: 40px 0 0 0;
        text-align: center;
    }
    .testimonial__title {
        font-size: 30px;
        margin:0 0 16px 0;
    }
    .testimonial__item:first-child > .testimonial__title {
        margin: 21px 0 14px 3px;
        padding: 0;
    }
    .testimonial__color {
        color: #edbfff;
    }
    .testimonial__text {
        font-family: 'open_sansregular', Arial, sans-serif;
        font-size: 16px;
        line-height: 24px;
    }
    .testimonial__update {
        padding: 3px 0 0 0;
    }
    .testimonial__sprite {

        width: 49px;
        height: 49px;
    }
    .testimonial__item:first-child >.testimonial__sprite {
        top: 34px;
        left: -18px;
        position: absolute;
    }
    .testimonial__update__title {
        font-family: 'open_sansextrabold', Arial, sans-serif;
        font-size: 16px;
    }
    .testimonial__update__text {
        font-family: 'open_sanslight', Arial, sans-serif;
        font-size: 16px;
        padding: 0 0 40px 0;
    }
    .textimage2:first-child >  {}
    .testimonial__link768 {
        text-decoration: none;
        color: #000;
        float: right;
        font-size: 19px;
        margin: 0 30px 0 0;
    }
    .testimonial__link:hover {
        text-shadow: 0 0 3px rgba(0,0,0,0.5);
    }
    .testimonial__sprite {
        display: inline-block;
    }
    /*brands*/
    .brands {
        text-align: center;
        padding: 30px 0;
    }
    /*news*/
    .news {
        padding: 118px 0 84px 26px;
        background: #ececec;
    }
    .news__item {
        margin: 0 0 60px 0;
    }
    .news__title {
        font-size: 24px;
        margin: 0 0 9px 0;
    }
    .news__copyright {
        color: #424c43;
        display: block;
        font-size: 16px;
        font-family: 'open_sanslight', Arial, sans-serif;
    }
    .news__text {
        font-size: 16px;
        font-family: 'open_sanslight', Arial, sans-serif;
        line-height: 23px;
    }
    /*footer*/
    .bottom {
        padding: 37px 0 25px 0;
        background: url("../img/bottom768.jpg");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .bottommenu {
        /*float: left;*/
        /* margin:0 10px;*/
        text-align: center;
    }
    .bottommenu__item {
        display: inline-block;
    }
    .bottommenu__link {
        display: block;
        color: #FFF;
        text-shadow: 0 1px 2px rgba(35, 35, 35, 1);
        text-decoration: none;
        font-size: 20px;
    }
    .bottommenu__item:nth-child(n+2):nth-child(-n+5) .bottommenu__link {
        margin:0 17px;
    }
    .bottommenu__link:hover {
        text-decoration: underline;
    }
    .designed {
        color: #FFF;
        text-shadow: 0 1px 2px rgba(35, 35, 35, 1);
        font-size: 12px;
        font-family: 'open_sanslight', Arial, sans-serif;
        text-align: center;
        padding: 20px 0 40px 0;
    }
    .designed__color {
        font-family: 'open_sansextrabold', Arial, sans-serif;
    }
}
@media (max-width: 479px) and (min-width: 1px) {
    .wrapper {
        width: auto;
        max-width: 320px;
        padding: 0 10px;
    }
    .hide {
        display: none;
    }
    .slider__item,
    .slider__maintext,
    .menu,
    .testimonial__link,
    .slider__item480,
    .hideabout,
    .brands480,
    .testimonial__hide,
    .bottommenu,
    .news {
        display: none;
    }

    /*topmenu*/
    .superheader {
        background: url("../img/background.jpg") no-repeat top center #FFF;
        padding: 67px 0 0 6px;
        text-align: center;
    }
    .header__logo {
        color: #FFF;
        font-size: 48px;
        text-shadow: 0 1px 2px rgba(35, 35, 35, 1);
    }
    .header__logo__color {
        color: #523a5d;
    }
    /*slider*/
    .slider {
        padding: 33px 0 191px 0;
    }
    .slider__text {
        margin: 145px 0 0 0;
        color: #fff;
        text-shadow: 0 1px 2px rgba(35, 35, 35, 1);
        text-align: center;
    }
    .slider__title {
        color: #FFF;
        display: block;
        font-size: 36px;
        font-family: 'league_gothicregular', Arial, sans-serif;
    }
    .slider__title2 {
        display: block;
        color: #be9acc;
        font-size: 18px;
        font-family: 'league_gothicregular', Arial, sans-serif;
        margin: 4px 0 6px 0;
    }
    /*about*/
    .about {
        color: #fff;
        padding: 70px 0 55px 0;
    }
    .about__item {
        margin:0 0 59px 30px;
    }
    .about__item:before {
        content: " ";
        position: absolute;
        overflow: hidden;
        width: 27px;
        height: 29px;
    }
    .about__item:first-child:before {
        background: url("../img/sprite.png") 0 0 no-repeat;
    }
    .about__item:nth-child(2):before {
        background: url("../img/sprite.png") -28px 0 no-repeat;
    }
    .about__item:nth-child(3):before {
        background: url("../img/sprite.png") -56px 0 no-repeat;
    }
    .about__title {
        font-size: 24px;
        padding: 0 0 0 56px;
        text-shadow: 0 0 3px rgba(255,255,255,0.5);
    }
    .about__text {
        margin: 6px 0 0 0;
        font-family: 'open_sanslight', Arial, sans-serif;
        font-size: 16px;
        line-height: 23px;
        padding: 0 9px 0 56px;
    }
    .about__link {
        text-decoration: none;
        color: #fff;
        float: right;
        font-size: 18px;
        margin: 16px 26px 0 0;
    }
    .about__link:hover {
        text-shadow: 0 0 3px rgba(255,255,255,0.5);
    }
    /*testimonial*/
    .testimonial {
        padding: 80px 0 60px 18px;
        background: #F9F9F9;
    }
    .testimonial__color {
        display: block;
    }
    .testimonial__item:first-child {
        /*float: left;*/
        background: #FFF;
        position: relative;
        /* margin: 3px 0 0 -1px;*/
    }
    .testimonial__item:first-child:after {
        content: url("../img/snos.png");
        position: relative;
        top: 24px;
        left: 225px;
    }
    .testimonial__item:first-child > .testimonial__title,
    .testimonial__item:first-child > .testimonial__text {
        padding: 0 10px 0 61px;
    }
    .testimonial__item:first-child > .testimonial__title {
        font-size: 26px;
    }
    .testimonial__item:last-child > .testimonial__title {
        font-size: 30px;
    }
    .testimonial__item:last-child {
        margin: 119px 0 0 0;
    }
    .testimonial__title {
        font-size: 30px;
        margin:0 0 16px 0;
    }
    .testimonial__item:first-child > .testimonial__title {
        margin: 8px 0 0 3px;
    }
    .testimonial__color {
        color: #edbfff;
    }
    .testimonial__text {
        font-family: 'open_sansregular', Arial, sans-serif;
        font-size: 16px;
        line-height: 24px;
    }
    .testimonial__update {
        padding: 3px 0 0 0;
        margin: 0 0 26px 0;
    }
    .testimonial__update__title {
        font-family: 'open_sansextrabold', Arial, sans-serif;
        font-size: 16px;
        margin: 0 0 0 67px;
    }
    .testimonial__update__text {
        font-family: 'open_sanslight', Arial, sans-serif;
        font-size: 16px;
        margin: 7px 0 0 67px;
    }
    .testimonial__sprite {
        position: absolute;
        width: 49px;
        height: 49px;
    }
    .testimonial__item:first-child >.testimonial__sprite {
        top: 10px;
        left: -15px;
    }
    .testimonial__link768 {
        text-decoration: none;
        color: #000;
        float: right;
        font-size: 19px;
        margin: -3px 44px 0 0;
    }
    .testimonial__link:hover {
        text-shadow: 0 0 3px rgba(0,0,0,0.5);
    }
    /*brands*/
    .brands {
        text-align: center;
        border-top: 1px solid #e6e6e6;
        padding: 30px 0;
    }
    /*footer*/
    .bottom {
        padding: 67px 0 25px 0;
        background: url("../img/bottom768.jpg");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .designed {
        padding: 0 0 100px 0;
        color: #FFF;
        text-shadow: 0 1px 2px rgba(35, 35, 35, 1);
        font-size: 12px;
        font-family: 'open_sanslight', Arial, sans-serif;
        text-align: center;
    }
    .designed__color {
        font-family: 'open_sansextrabold', Arial, sans-serif;
    }
    .transparent {
        background: none;
    }
}
body {
    font-family: 'league_gothicregular', Arial, sans-serif;
}
.wrapper {
    margin: 0 auto
}
.brands__image {
    padding: 10px 25px;
}
.about {
    border-top: 1px solid #34263b;
    background-image: linear-gradient(to bottom, #745083 0%, #322539 100%);
}
.brands__image {
    display: inline-block;
    vertical-align: middle;
}
.brands {
    background: #F9F9F9;
}
.textimage {
    padding: 20px 20px 20px 40px;
}
.testimonial__text {
    padding: 10px;
}
.textimage2 {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 10px;
}
.dropdown__item {
    display: none;
    width: 250px;
    border: 1px solid #051116;
    background: rgba(54, 41, 62, 0.3);
}
.navi {
    top: 192px;
    position: absolute;
}
.dropdown-menu {
    width: 250px;
    margin: 30px auto;

}
.dropdown-menu__select > .dropdown__link {
    border-radius: 10px;
    border-bottom: 2px solid #051116;
}
.dropdown-menu:hover .dropdown-menu__select > .dropdown__link {
    border-radius: 10px 10px 0 0;
}
.dropdown-menu:hover .dropdown__item:last-child,
.dropdown-menu:hover .dropdown__item:last-child > .dropdown__link {
    border-radius: 0 0 10px 10px;
}
.dropdown__item:hover > .dropdown__link {
    border-bottom: 2px solid #edbfff;
    background: rgba(54, 41, 62, 0.8);
}
.dropdown-menu__select {
    display: block;
    /*margin: 0 auto;*/
}
.dropdown-menu__select .dropdown__link {
    text-decoration: underline;
}
.dropdown__link {
    display:block;
    padding: 10px 0;
    width: 250px;
    border: 1px solid #051116;
    border-top: 1px solid #513e59;
    /*border-bottom: 1px solid #35273d;*/
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    background: rgba(54, 41, 62, 0.5);
    color: #FFF;
    border-bottom: 2px solid transparent;
}
.dropdown-menu:hover .dropdown__item {
    display: block;
    /*margin: 0;*/
    border-top: 1px solid #513e59;
    border-bottom: 1px solid #35273d;
    text-align: center;
}
.dropdown-menu__select:hover .dropdown__item:first-child {
    border-top: 0;
    border-radius: 10px 10px 0 0;
}
.dropdown-menu__select:hover .dropdown__item:last-child {
    border-top: 0;
    border-radius:  0 0 10px 10px;
}
.brands {
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}
