<div class="slider">
    <div class="wrapper">
        <div class="section__title">How Urlaubsgl&#252;ck works?</div>
        <div class="jcarousel-wrapper">
            <div class="jcarousel" id="first">
                <ul>
                    <li><img src="img/1.jpg" class="change" alt="pic"/></li>
                    <li><img src="img/1.jpg" class="change" alt="pic"/></li>
                </ul>
            </div>
            <div class="slider__block">
                <div class="slider__textlogo">STEP 1</div>
                <div class="slider__texttittle">Sed leo enim, condimentum</div>
                <div class="slider__slidertext">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
                </div>
            </div>
            <a href="#" class="jcarousel-control-prev"><img src="img/left.png" alt="control"/></a>
            <a href="#" class="jcarousel-control-next"><img src="img/right.png" alt="control"/></a>
        </div>
        <div class="jcarousel-wrapper">
            <div class="jcarousel" id="second">
                <ul>
                    <li><img src="img/2.jpg" class="change" alt="pic"/></li>
                    <li><img src="img/2.jpg" class="change" alt="pic"/></li>
                </ul>
            </div>
            <div class="slider__block">
                <div class="slider__textlogo">STEP 2</div>
                <div class="slider__texttittle">Morbi velit risus</div>
                <div class="slider__slidertext">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.
                </div>
            </div>
            <a href="#" class="jcarousel-control-prev"><img src="img/left.png" alt="control"/></a>
            <a href="#" class="jcarousel-control-next"><img src="img/right.png" alt="control"/></a>
        </div>
        <div class="jcarousel-wrapper">
            <div class="jcarousel" id="third">
                <ul>
                    <li><img src="img/3.jpg" class="change" alt="pic"/></li>
                    <li><img src="img/3.jpg" class="change" alt="pic"/></li>
                </ul>
            </div>
            <div class="slider__block">
                <div class="slider__textlogo">STEP 3</div>
                <div class="slider__texttittle">Sed leo enim, condimentum</div>
                <div class="slider__slidertext">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</div>
            </div>
            <a href="#" class="jcarousel-control-prev"><img src="img/left.png" alt="control"/></a>
            <a href="#" class="jcarousel-control-next"><img src="img/right.png" alt="control"/></a>
        </div>
        <div class="mobile__wrapper">
            <div class="mobile__picture"><img src="img/1mob.jpg" alt="picture"/></div>
            <div class="mobile__block">
            <div class="mobile__textlogo">STEP 1</div>
            <div class="mobile__texttittle">Sed leo enim, condimentum</div>
            <div class="mobile__slidertext">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec
                rhoncus a leo sit amet facilisis.
            </div>
                </div>
        </div>
        <div class="mobile__wrapper">
            <div class="mobile__picture"><img src="img/2mob.jpg" alt="picture"/></div>
            <div class="mobile__block">
            <div class="mobile__textlogo">STEP 2</div>
            <div class="mobile__texttittle">Morbi velit risus</div>
            <div class="mobile__slidertext">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet
                porttitor est.
            </div>
                </div>
        </div>
        <div class="mobile__wrapper">
            <div class="mobile__picture"><img src="img/3mob.jpg" alt="picture"/></div>
            <div class="mobile__block">
            <div class="mobile__textlogo">STEP 3</div>
            <div class="mobile__texttittle">Sed leo enim, condimentum</div>
            <div class="mobile__slidertext">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec
                rhoncus a leo sit amet facilisis.</div>
            </div>
            </div>
        </div>
    </div>