<div class="partners">
    <div class="wrapper">
        <div class="section__title">Meet a partner for your best holiday</div>
        <div class="people">
            <div class="partner">
                <div class="partner__photo"><img src="img/partner1.png" alt="partner"/></div>
                <div class="partner__name">Bradley Hunter</div>
                <div class="partner__info">Based in Chicago. I love playing tennis and loud music.</div>
            </div>
            <div class="partner">
                <div class="partner__photo"><img src="img/partner2.png" alt="partner"/></div>
                <div class="partner__name">Heather Walker</div>
                <div class="partner__info">I'm a happy person that loves cats and climbing on mountains.</div>
            </div>
            <div class="partner">
                <div class="partner__photo"><img src="img/partner3.png" alt="partner"/></div>
                <div class="partner__name">Lucas Marsha</div>
                <div class="partner__info">I get my inspiration from nature and objects around me. I have a passion to
                colours, typography and skateboards</div>
            </div>
            <div class="partner">
                <div class="partner__photo"><img src="img/partner4.png" alt="partner"/></div>
                <div class="partner__name">Bradley Hunter</div>
                <div class="partner__info">Based in Chicago. I love playing tennis and loud music.</div>
            </div>
        </div>
        <a href="#" class="partners__link">See other partners</a>
    </div>
</div>