<footer>
    <div class="wrapper">
    <div class="bottom clearfix">
        <div class="footer__logo">URLAUBSGL&#220;CK</div>
        <div class="footer__nav">
            <ul class="footer__menu">
                <li class="footer__item">Company
                    <ul class="footer__subitems">
                        <li class="footer__subitem"><a href="#" class="footer__sublink">About</a></li>
                        <li class="footer__subitem"><a href="#" class="footer__sublink">Contacts</a></li>
                        <li class="footer__subitem"><a href="#" class="footer__sublink">Press</a></li>
                        <li class="footer__subitem"><a href="#" class="footer__sublink">Blog</a></li>
                    </ul>
                </li>
                <li class="footer__item">Partners</li>
            </ul>
        </div>
        <div class="footer__design">
            <p>DESIGNED BY</p>
            <div class="footer__logopicture">
                <img src="img/design.png" alt="design_by_areto"/>
            </div>
        </div>
    </div>
    </div>
</footer>