<header>
    <div class="wrapper">
        <div class="logo clearfix">
            <div class="logo__name">URLAUBSGL&#220;CK</div>
            <div class="login">
                <a href="#" class="login__link"><div class="login__in">Log in</div></a>
                <a href="#" class="login__link"><div class="login__up">Sign up</div></a>
            </div>
            <div class="mobile__logo">URLAUBSGL&#220;CK</div>
        </div>
        <div class="header__title">
            <p>SHARE YOUR</p>
            <p>HOLIDAY DREAMS</p>
        </div>
        <div class="header__text">And find the perfect partner to fullfil it</div>
        <a href="#" class="header__link">Find your holiday partner</a>
    </div>
</header>